body {
    margin: 0;
    padding: 0%;
    background-image: url("../img/fond.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.section_perso{
    padding: 0%;
}

.titre{
    color: aliceblue;
    margin-top: 10%;
    margin-bottom: 5%;
}

.info-perso {
    display: flex;
    height: 500px;
    padding: 0%!important;
}

.photo_profil {
    margin-top: 50px;
    margin-left: 180px;
    margin-bottom: 80px;
}

.texte_infoperso {
    color: azure;
    margin-left: 18%;
    margin-top: 4%;
}

.bloc{
    height: 690px;
}

.titre_section_bloc {
    color: azure;
    margin-bottom: 80px;
    font-size: 40px;
}

.bloc-imagetitre{
    text-align: center;
}

.photo_competence{
    width: 130px;
    padding-top: 5%;
    padding-bottom: 5%;
}

.bloc_etude{
    background-color: rgb(85, 85, 85);
    border-radius: 15px;
    margin-bottom: 20px;
    width: 20%;
    height: 370px;
    margin-left: 58%;
}

.bloc_experience{
    background-color: rgb(85, 85, 85);
    border-radius: 15px;
    margin-bottom: 20px;
    width: 20%;
    height:  370px;
    margin-right: 58%;
}

.bloc_passion{
    background-color: rgb(85, 85, 85);
    border-radius: 15px;
    width: 20%;
    height:  370px;
    margin-left: 58%;
}

.titre_bloc {
    color: azure;
    margin-bottom: 50px;
}

.texte_bloc{
    color: azure;
    margin-bottom: 0%!important;
}

.bloc_pub{
    background-color: rgb(47, 186, 211);
    height: 330px;
    margin-top: 38%;
}

.titre_pub{
    font-size: 40px;
    padding-top: 40px;
    text-align: center;
    color: rgb(216, 231, 231);
}

.texte_pub{
    text-align: center;
    color: rgb(229, 241, 241);
    font-size: 20px;
}

.lien{
    text-align: center;
    margin-top: 40px;
}

.lien_pub{
    color: rgb(240, 240, 240);
    font-size: 30px;
    text-decoration: none;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 4px;
    padding: 10px;
    transition: ease-out 0.3s;
    outline: none;
    position: relative;
    z-index: 1;
}

.lien_pub:hover{
    color: rgb(63, 63, 63);
}

.lien_pub:before {
    transition: 0.8s all ease;
    position: absolute;
    top: 0;
    left: 50%;
    right: 50%;
    bottom: 0;
    opacity: 0;
    content: "";
    background-color: rgb(245, 245, 245);
}

.lien_pub:hover:before {
    transition: 0.8s all ease;
    left: 0;
    right: 0;
    opacity: 1;
    z-index: -1;
}

@media screen and (min-width : 768px) and (max-width: 1366px) {
    .info-perso {
        flex-direction: column;
    }

    .photo_profil {
        width: 20%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 20px;
    }

    .texte_infoperso {
        margin-left: auto;
        margin-right: auto;
    }

    .bloc{
        margin-top: 40%;
        margin-bottom: 100%;
    }

    .bloc_etude{    
        width: 34%;
        height: 380px;
    }
    
    .bloc_experience{
        width: 34%;
        height:  400px;
    }
    
    .bloc_passion{
        width: 34%;
        height:  390px;
    }

    .bloc_pub{
        height: 380px;
    }
}

@media all and (max-device-width: 736px) {
    .info-perso {
        flex-direction: column;
    }

    .photo_profil {
        width: 40%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 20px;
    }

    .texte_infoperso {
        margin-left: auto;
        margin-right: auto;
        padding: 5%;
    }

    .bloc{
        margin-top: 100%;
        margin-bottom: 250%;
    }

    .bloc_etude{    
        width: 80%;
        height: 380px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 100px;
    }
    
    .bloc_experience{
        width: 80%;
        height:  400px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 100px;
    }
    
    .bloc_passion{
        width: 80%;
        height:  390px;
        margin-left: auto;
        margin-right: auto;
    }

    .bloc_pub{
        height: 490px;
    }

    .titre_pub{
        font-size: 30px;
    }

    .lien_pub{
        font-size: 20px;
    }
}