body{
    margin: 0%;
    background: url("../img/fond.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.titre_page{
    color: azure;
    margin-top: 20px;
    font-size: 60px;
}

.texte_info{
    width: 50%;
    margin-right: auto;
    margin-left: auto;
}

.formulaire{
    width: 50%;
    margin-right: auto;
    margin-left: auto;
}