body{
    margin: 0%;
    background: url("../img/fond.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.titre_page{
    color: azure;
    margin-top: 20px;
    font-size: 60px;
}

.texte_info{
    width: 50%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 10%;
}

.formulaire{
    width: 50%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 10%;
    margin-bottom: 10%;
}

.form-label{
    color:azure;
    margin-bottom: 20px;
    font-size: 20px;
}

.debut_formulaire{
    display: flex;
}

.section_nom{
    margin-right: 80px;
}

.nom, .prenom, .email{

    height: 60px;
}

.message{
    height: 150px;
}

.form-control{
    background-color: rgb(32, 32, 32);
    color: azure;
    border-radius: 20px 20px;
}

.btn{
    color: azure;
    background-color: rgb(18, 175, 175);
}

.btn:hover{
    background-color: rgb(15, 128, 128);
    transition: 1s;
}