body{
    margin: 0%;
    background: url("../img/fond.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

/*message d'alert envoie du mail*/
.alert{
    margin-top: 80px !important;
    width: auto;
}


/*titre de la page*/
.titre_page{
    color: azure;
    margin-top: 12%;
    font-size: 60px;
}

/*section phrase info*/
.texte_info{
   text-align: center;
    margin-right: auto;
    margin-left: auto;
    margin-top: 10%;
    font-size: 29px;
}

.mot_important{
    color: rgb(25, 173, 173);
    font-weight: bolder;
}
/*Fin de la section phrase info*/


/*bloc formulaire*/
.formulaire{
    width: 50%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 10%;
    margin-bottom: 10%;
}

.form-label{
    color:azure;
    margin-bottom: 20px;
    font-size: 20px;
}

.debut_formulaire{
    display: flex;
}

.section_nom{
    margin-right: 80px;
}

.nom, .prenom, .phone, .email{

    height: 60px;
}

.phone{
    width: 29%;
}

.message{
    height: 150px;
}

.form-control{
    background-color: rgb(32, 32, 32);
    color: azure;
    border-radius: 20px 20px;
}

/*bouton d'envoie du formulaire*/
.btn{
    color: azure;
    background-color: rgb(18, 175, 175);
    box-shadow: inset 0 0 0 0 rgb(2, 113, 121) !important;
    transition: ease-out 0.8s !important;
    outline: none;
}

.btn:hover{
    background-color: rgb(19, 146, 146);
    transition: 1s;
    box-shadow: inset 300px 0 0 0 rgb(19, 146, 146) !important;
}
/*Fin du bloc formulaire*/



/*media responsive telephone iphone*/
@media all and (max-device-width: 736px)
{
    body{
        background-size: cover;
    }

    /*message d'envoie du formulaire*/
    .alert{
        width: 53%;
    }


    /*bloc du formulaire*/
    .formulaire{
        width: 80%!important;
    }

    .debut_formulaire{
        flex-direction: column;
    }

    .section_nom{
        margin-right: 0px;
    }

    .nom, .prenom, .phone, .email{
        width: 90% !important;
    }
}


/*media responsive tablette ipad*/
@media screen and (min-width : 768px) and (max-width: 1366px){
    /*message d'envoi du formulaire*/
    .alert{
        width: 28%;
    }
    
    /*champ telephone formulaire*/
    .phone{
        width: 75% !important;
    }
}