.footer{
    background-color: rgb(37, 37, 37);
}

.sociaux{
    text-align: end;
}

.texte{
    color: azure;
    text-align: center;
}

.fab{
    color: rgb(128, 128, 128);
    font-size: 35px;
    margin: 10px;
}

.far{
    color: rgb(128, 128, 128);
    font-size: 15px;
}

.coordonnees{
    color: rgb(128, 128, 128);
    margin: 5px;
}

.copy{
    color: azure;
    margin-bottom: 0%;
}

/*media responsive telephone iphone*/
@media only screen and (max-width: 600px){
    .sociaux{
        text-align: center;
    }
}