.footer{
    background-color: rgb(37, 37, 37);
}

.sociaux{
   text-align: center;
}

.test{
    margin-left: 8%;
    margin-right: 8%;
}

.texte{
    color: azure;
    display: flex;
    text-align: center;
    
}

.info-footer{
   
}

.fab{
    color: rgb(128, 128, 128);
    font-size: 35px;
    margin: 10px;
}

.fab:hover{
    color: rgb(17, 100, 100);
    transition-duration: 1s;
    font-size: 40px;
}

.far{
    color: rgb(128, 128, 128);
    font-size: 15px;
}

.coordonnees{
    color: rgb(128, 128, 128);
    margin: 5px;
}

.copy{
    color: azure;
    margin-bottom: 0%;
}

/*media responsive telephone iphone*/
@media only screen and (max-width: 600px){
    .sociaux{
        text-align: center;
    }
}