.body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

.presentation{
    background-color: rgb(31, 31, 31);
    align-items: center;
    height: 500px;
}

.titre_qui_suisje{
    text-align: left;
    margin-bottom: 80px;
}

.photo{
    margin-left: 15%;
}

.profil{
    border-radius: 50%;
}

.description{
    color: azure;
    text-align: center;
    float: right!important;
    margin-left: 8%;
    margin-bottom: 50px;
}

#para1{
    background-image: url("../img/para1.jpg");
    width: 100%;
    height: 500px;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.service{
    height: 500px;
    width: 100%;
    background: #1d1d1d;
}

.bande-service{
    display: flex;
    margin-top: 5%;
    margin-left: 12.5%;
    width: 75%;
    height: 200px;
    text-align: center;
    border-radius: 1px solid black;
    border-radius: 30px;
    background-color: #363636;
}

h3{
    color: rgb(196, 196, 196);
    padding-top: 30%;
}

h1{
    color: rgb(216, 216, 216);
    text-align: center;
    padding-top: 2%;
}

#para2{
    background-image: url("../img/para2.jpg");
    width: 100%;
    height: 500px;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.competences{
    height: 500px;
    width: 100%;
    background: #363636;
}

.competence_texte{
    margin-right: 180px;
    color: rgb(216, 216, 216);
}

.titre_competence{
    font-weight: bolder;
    color: #1ab5c0;
    font-size: 20px;
}

.info_competences{
    padding-left: 20%;
    margin-top: 70px!important;
    text-align: center;
    margin-right: 0%!important;
}

.progress{
    margin-top: 10px;
    height: 30px!important;
}

#para3{
    background-image: url("../img/para3.jpg");
    width: 100%;
    height: 500px;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.projets{
    height: 500px;
    width: 100%;
    background: #363636;
}

.groupe-projet{
    margin: 0%!important;
    margin-top: 80px!important;
    margin-left: 45px!important;
}

.card{
    width: 90%;
}

.card-img{
    opacity: 0.5;
}

.titre_projet{
    margin-top: 80px;
}



#para4{
    background-image: url("../img/para4.jpg");
    width: 100%;
    height: 500px;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.annonce{
    height: 500px;
    background: #363636;
}

.info-annonce {
    width: 50%!important;
    height: 50%;
    margin-top: 5%!important;
    margin-left: 25%;
    background-color: #1d1d1d!important;
}

.pub{
    display: flex;
    margin-top: 70px;
}

.texte-pub{
    color: azure;
}

.titre_pub{
    color: #0e7a81;
    font-size: 30px;
    font-weight: bold;
}

.lien-pub{
    margin-left: 35px;
}

.texte_descrip_pub{
    font-size: 18px;
}

.lien-pub a{
    width: 100%;
    height: 60%;
    background-color: #10b0bb;
    border-color: #1d1d1d54;
}

.texte-lien{
    margin-top: 18px;
    font-size: 22px;
}

.btn:hover{
    background-color: #066169!important;
    transition: 1s;
    border-color: #1d1d1d!important;
}


.slider{
    height: 50vh;
    position: relative;
}

.slider img {
    object-fit: cover;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity .5s;
}

.slider img.active {
    opacity: 1;
}

.suivant, .precedent {
    color: rgb(205, 207, 207)!important;
    font-size: 3rem;
    position: absolute;
    top: 50%;
    transform: translate(6%);
    cursor: pointer;
}

.suivant {
    right: 1rem;
}

.precedent {
    left: 1rem;
}