.body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.carousel-control-prev-icon, .carousel-control-next-icon{
    background-size: 50px 50px !important;
}


.carousel-item{
    height: 880px;
}

.image{
    opacity: 0.9;
}

.slide{
    color: rgb(255, 255, 255)!important;
}

.titre_slide{
    font-size: 60px;
    position: relative;
    color: #108992!important;
    font-weight: bold;
    text-shadow: #1d1d1d 2px 2px;
}

.soustitre_slide{
    font-size: 35px;
    margin-bottom: 25%;
    text-shadow: #1d1d1d 2px 2px;
}

.bloc_presentation{
    padding: 0% !important;
}

.presentation{
    display: flex;
    background-image: url("../img/fond.jpg");
    align-items: center;
    height: 500px;
}

.titre_qui_suisje{
    text-align: left;
    margin-bottom: 80px;
}

.photo{
    margin-left: 15%;
}

.profil{
    border-radius: 50%;
    width: 60%;
}

.description{
    color: azure;
    text-align: center;
    float: right!important;
    margin-left: 8%;
    margin-bottom: 50px;
}

.bloc_para{
    padding-left: 0% !important;
    padding-right: 0% !important;
}

#para1{
    background-image: url("../img/accueil.jpg");
    width: 100%;
    height: 400px;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    opacity: 0.9;
}

.texte_para{
    text-align: center;
    padding-top: 6%;
    font-size: 50px;
    color: white;
    text-shadow: black 2px 2px ;
}

.service{
    height: 530px;
    width: 100%;
    background-image: url("../img/fond.jpg");
}

.bande-service{
    display: flex;
    margin-top: 5%;
    margin-left: 12.5%;
    width: 75%;
    height: 280px;
    text-align: center;
    border-radius: 1px solid black;
    border-radius: 30px;
    background-color: #424242;
}

.photo_service{
    width: 130px;
    padding-top: 5%;
}

.titre_service{
    padding-top: 8%!important;
}

h3{
    color: rgb(196, 196, 196);
    padding-top: 30%;
}

h1{
    color: rgb(216, 216, 216);
    text-align: center;
    padding-top: 2%;
}

#para2{
    background-image: url("../img/developpement.jpg");
    width: 100%;
    height: 400px;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    opacity: 0.9;
}

.competences{
    height: 500px;
    width: 100%;
    background-image: url("../img/fond.jpg");
}

.competence_texte{
    margin-right: 180px;
    color: rgb(216, 216, 216);
}

.titre_competence{
    font-weight: bolder;
    color: #1ab5c0;
    font-size: 20px;
}

.info_competences{
    display: flex;
    padding-left: 20%;
    margin-top: 70px!important;
    text-align: center;
    margin-right: 0%!important;
}

.progress{
    margin-top: 10px;
    height: 30px!important;
    background: #f8f8f8;
    border-radius: 0;
    box-shadow: none;
    margin-bottom: 30px;
    overflow: visible;
}

.progress-bar{
    background-color: #1f919b!important;
}

.progress .progress-bar{
    box-shadow: none;
    border-radius: 0;
    position: relative;
    -webkit-animation: animate-positive 2s;
    animation: animate-positive 2s;
}

@-webkit-keyframes animate-positive{
    0%{ width: 0; }
}
@keyframes animate-positive{
    0%{ width: 0; }
}


#para3{
    background-image: url("../img/design.jpg");
    width: 100%;
    height: 400px;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    opacity: 0.9;
}

.texte_para3{
    text-align: center;
    padding-top: 8%;
    font-size: 50px;
    color: white;
    text-shadow: black 2px 2px ;
}

.projets{
    height: 500px;
    width: 100%;
    background-image: url("../img/fond.jpg");
    background-size: cover;
}

.groupe-projet{
    margin: 0%!important;
    margin-top: 80px!important;
    margin-left: 18%!important;
}

.projet_card{
    width: 90%;
}

.card-img{
    opacity: 0.5;
}

.titre_projet{
    margin-top: 80px;
}



#para4{
    background-image: url("../img/para4.jpg");
    width: 100%;
    height: 400px;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    opacity: 0.9;
}

.annonce{
    height: 500px;
    background-image: url("../img/fond.jpg");
}

.info-annonce {
    width: 50%!important;
    height: 50%;
    margin-top: 5%!important;
    margin-left: 25%;
    background-color: #1d1d1d!important;
}

.pub{
    display: flex;
    margin-top: 70px;
}

.texte-pub{
    color: azure;
}

.titre_pub{
    color: #0e7a81;
    font-size: 30px;
    font-weight: bold;
}

.lien-pub{
    margin-left: 35px;
}

.texte_descrip_pub{
    font-size: 18px;
}

.lien-pub a{
    width: 100%;
    height: 60%;
    background-color: #10b0bb;
    border-color: #1d1d1d54;
    box-shadow: inset 0 0 0 0 rgb(2, 113, 121) !important;
    transition: ease-out 0.8s !important;
    outline: none;
}

.texte-lien{
    margin-top: 18px;
    font-size: 22px;
}

.btn:hover{
    box-shadow: inset 300px 0 0 0 rgb(2, 113, 121) !important;
    border-color: #1d1d1d!important;
   background-color: rgb(2, 113, 121) !important;
}


@media screen and (min-width : 768px) and (max-width: 1366px){
    .carousel-item{
        height: 530px;
    }

    .photo{
        margin-left: 10%;
        margin-right: 5%;
    }

    .info_competences{
        padding-left: 10%;
    }

    .competence_texte{
        width: 40% !important;
        margin-right: 10%;
    }

    .projets{
        height: 1500px;
    }

    .projet_portfolio{
        margin-left: 0%;
    }

    .groupe-projet{
        flex-direction: column;
        width: auto!important;
    }

    .projet_card{
        width: 250%;
        margin-bottom: 40%;
    }

    .annonce{
        height: 400px;
    }

    .info-annonce {
        height: 80%;
    }

    .pub{
        flex-direction: column;
        margin-top: 40px;
    }

    .lien-pub{
        margin-top: 20px;
        margin-left: auto;
        margin-right: auto;
    }

    .lien-pub a{
        height: 100%;
    }
}

@media all and (max-device-width: 736px){
    .carousel-item{
        height: 260px;
    }

    .titre_slide{
        font-size: 30px;
    }
    
    .soustitre_slide{
        font-size: 22px;
        margin-bottom: 10%;
    }

    .presentation{
       flex-direction: column;
        height: 1000px;
        background-size: cover;
    }

    .photo{
        width: auto !important;
        margin-left: 5%;
        margin-top: 5% !important;
    }

     .profil{
         margin-left: 18%;
     }

    .bloc_description{
        margin-left: auto !important;
        margin-right: auto !important;
        width: auto !important;
    }

    .titre_qui_suisje{
        text-align: center;
        padding-top: 30% !important;
        margin-bottom: 50px;
    }

    .description{
        text-align: center;
        margin-left: 0%;
    }

    .texte_para{
        font-size: 40px;
    }

    .service{
        height: 800px;
    }

    .bande-service{
        flex-direction: column;
        height: 680px;
        text-align: center;
    }

    .photo_service{
        padding-top: 10%;
    }

    .bloc_design, .bloc_dev, .bloc_referencement{
        width: auto !important;
    }

    .competences{
        height: 850px;
        background-size: cover;
    }

    .info_competences{
        flex-direction: column;
        padding-left: 0%;
    }

    .competence_texte{
        margin-right: 0% !important;
        width: auto !important;
        margin-bottom: 20%;
    }

    .bloc_progress_bar{
        width: auto !important;
        padding: 4%;
    }

    .projets{
        height: 1500px;
    }

    .groupe-projet{
        margin-left: 0px!important;
    }

    .projet_card{
        width: auto;
        margin-bottom: 30%;
    }

    .titre_projet{
        margin-top: 0px;
    }

    .annonce{
        height: 350px;
    }

    .info-annonce {
        width: 90%!important;
        height: 80%;
        margin-left: auto;
        margin-right: auto;
    }

    .pub{
        flex-direction: column;
        margin-top: 40px;
    }

    .lien-pub a{
        margin-top: 10%;
        width: 100%;
        height: 60%;
        margin-left: 0% !important;
    }

    .lien-pub{
        margin-left: auto;
        margin-right: auto;
    }

    .texte-lien{
        margin-top: 0px;
    }
}