.navbar{
    background-color: rgba(17, 17, 17, 0.89);
    width: 100%;
    position: fixed;
}

.navbar-toggler{
    border-color: rgb(151, 151, 151);
    color: rgb(18, 134, 134) !important;
}

.nav-item{
    margin-right: 110px;
    width: 138px;
}

.nav-link{
    color: rgba(255, 255, 255, 0.863);
    font-size: 20px;
    transition-property: font-size !important;
  transition-duration: 1s !important;
}

.nav-link:hover{
    color: rgb(4, 142, 177) !important;
    font-size: 30px !important;
}


/*media responsive tablette ipad*/
@media screen and (min-width: 768px) and (max-width: 1366px){
    .nav-item{
        margin-left: 0px;
    }

    .navbar-nav {
        text-align: left !important;
    }
}


/*media responsive telephone iphone*/
@media all and (max-device-width: 715px){
    .nav-item{
        margin-left: 0px;
    }
}