body{
    margin: 0%;
    background: url("../img/fond.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
 /*titre de la page*/
.titre_page{
    color: azure;
    font-size: 60px;
    margin-top: 10%;
}

/*bloc projet card*/
.card-group{
    margin-top: 80px;
    margin-bottom: 80px;
}

.card{
    margin: 50px;
    padding: 10px;
    background-color: rgb(126, 126, 126);
    color: azure;
}

/*bouton lien du projet*/
.lien_projet{
    text-align: right;
}

.btn{
    border: 1px solid rgb(13, 177, 169);
    border-radius: 10px 10px;
    color: azure;
    font-size: 20px;
    box-shadow: inset 0 0 0 0 rgb(2, 113, 121) !important;
    transition: ease-out 0.8s !important;
    outline: none;
}

.btn:hover{
    box-shadow: inset 300px 0 0 0 rgb(17, 184, 184) !important;
    background-color: rgb(17, 184, 184);
    border-color: #f1f1f1!important;
    
}
/*Fin du bouton lien du projet*/
/*Fin bloc projet card*/


/*media responsive telephone iphone*/
@media all and (max-device-width: 736px){
    /*titre de la page*/
    .titre_page{
        margin-top: 20%;
    }
    
    /*card projet*/
    .card-group{
        flex-direction: column;
    }

    .card{
        margin: 20px !important;
    }
}


/*media responsive tablette ipad*/
@media screen and (min-width : 768px) and (max-width: 1366px){
    /*card projet*/
    .card-group{
        flex-direction: column;
    }

    .card{
        margin: 70px !important;
    }
}